src/META-INF/wsdl/ProductConfigurator.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:xsdLocal8="http://siebel.com/OrderManagement/Configurator/CfgLinkedItems"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://siebel.com/OrderManagement/Configurator/CfgInteractRequest"
 targetNamespace="http://siebel.com/OrderManagement/Configurator"
 xmlns:xsdLocal3="http://siebel.com/OrderManagement/Configurator/CfgInteractStatus"
 xmlns:xsdLocal5="http://siebel.com/OrderManagement/Configurator/WebChannelObjStructure"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsdLocal6="http://siebel.com/OrderManagement/Quote/Data"
 xmlns:xsdLocal4="http://siebel.com/OrderManagement/Configurator/WebChannelObjGroupItems"
 xmlns:xsdLocal2="http://siebel.com/OrderManagement/Configurator/CfgInteractData"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/OrderManagement/Configurator"
 xmlns:xsdLocal7="http://siebel.com/OrderManagement/Configurator/CfgProperties"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Configurator/CfgInteractStatus"
 xmlns:xsdLocal3="http://siebel.com/OrderManagement/Configurator/CfgInteractStatus"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfStatus"
 type="xsdLocal3:ListOfStatus"
></xsd:element
><xsd:complexType
 name="ListOfStatusTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfStatus"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal3:ListOfStatus"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfStatus"
><xsd:sequence
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal3:Status"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Status"
><xsd:sequence
><xsd:element
 name="StatusText"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ConflictResolution"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Messages"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal3:Messages"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Messages"
><xsd:sequence
><xsd:element
 name="MessageType"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal3:MessageType"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="MessageType"
><xsd:sequence
><xsd:element
 name="MessageSource"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Message"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal3:Message"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Message"
><xsd:sequence
><xsd:element
 name="MessageText"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MessageCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Configurator/CfgProperties"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xsdLocal7="http://siebel.com/OrderManagement/Configurator/CfgProperties"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfProperties"
 type="xsdLocal7:ListOfProperties"
></xsd:element
><xsd:complexType
 name="ListOfPropertiesTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfProperties"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal7:ListOfProperties"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfProperties"
><xsd:sequence
><xsd:element
 name="Properties"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal7:Properties"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Properties"
><xsd:sequence
><xsd:element
 name="PropertyType"
 maxOccurs="unbounded"
 minOccurs="1"
 type="xsdLocal7:PropertyType"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="PropertyType"
><xsd:sequence
><xsd:element
 name="ObjectType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Property"
 maxOccurs="unbounded"
 minOccurs="1"
 type="xsdLocal7:Property"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Property"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Configurator/CfgInteractData"
 xmlns:xsdLocal2="http://siebel.com/OrderManagement/Configurator/CfgInteractData"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfData"
 type="xsdLocal2:ListOfData"
></xsd:element
><xsd:complexType
 name="ListOfDataTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfData"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:ListOfData"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfData"
><xsd:sequence
><xsd:element
 name="ProductData"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ProductData"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ProductData"
><xsd:sequence
><xsd:element
 name="Item"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Item"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Item"
><xsd:sequence
><xsd:element
 name="RootIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Quantity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PortId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NRCCxTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MRCCxTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HasGenericsFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExchangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EligibilityStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EligibilityReason"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrentPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CanDrilldown"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Relationship"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Relationship"
></xsd:element
><xsd:element
 name="Explanation"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Explanation"
></xsd:element
><xsd:element
 name="Attribute"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Attribute"
></xsd:element
><xsd:element
 name="Item"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Item"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Relationship"
><xsd:sequence
><xsd:element
 name="RequestType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HasGenericsFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DomainItem"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:DomainItem"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Explanation"
><xsd:sequence
><xsd:element
 name="ExplanationText"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Attribute"
><xsd:sequence
><xsd:element
 name="ValueType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RequestType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DomainType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AttributeValue"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:AttributeValue"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="DomainItem"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Excluded"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExchangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CanDrilldown"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeValue"
><xsd:sequence
><xsd:element
 name="StringValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Selected"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NumberValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegerValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Excluded"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DateTimeValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BooleanValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://siebel.com/OrderManagement/Configurator/CfgInteractRequest"
 targetNamespace="http://siebel.com/OrderManagement/Configurator/CfgInteractRequest"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfRequest"
 type="xsdLocal1:ListOfRequest"
></xsd:element
><xsd:complexType
 name="ListOfRequestTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfRequest"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfRequest"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRequest"
><xsd:sequence
><xsd:element
 name="Requests"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:Requests"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Requests"
><xsd:sequence
><xsd:element
 name="Request"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Request"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Request"
><xsd:sequence
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Item"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Item"
></xsd:element
><xsd:element
 name="Attribute"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Attribute"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Item"
><xsd:sequence
><xsd:element
 name="RemoveProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Quantity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AddProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Attribute"
><xsd:sequence
><xsd:element
 name="ValueType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AttributeValue"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:AttributeValue"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeValue"
><xsd:sequence
><xsd:element
 name="String"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Number"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Integer"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Date"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Boolean"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Configurator"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://siebel.com/OrderManagement/Configurator/CfgLinkedItems"
></xsd:import
><xsd:import
 namespace="http://siebel.com/OrderManagement/Configurator/CfgProperties"
></xsd:import
><xsd:import
 namespace="http://siebel.com/OrderManagement/Quote/Data"
></xsd:import
><xsd:import
 namespace="http://siebel.com/OrderManagement/Configurator/WebChannelObjStructure"
></xsd:import
><xsd:import
 namespace="http://siebel.com/OrderManagement/Configurator/WebChannelObjGroupItems"
></xsd:import
><xsd:import
 namespace="http://siebel.com/OrderManagement/Configurator/CfgInteractStatus"
></xsd:import
><xsd:import
 namespace="http://siebel.com/OrderManagement/Configurator/CfgInteractData"
></xsd:import
><xsd:import
 namespace="http://siebel.com/OrderManagement/Configurator/CfgInteractRequest"
></xsd:import
><xsd:element
 name="UpdateConfiguration_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfRequest"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfData"
></xsd:element
><xsd:element
 name="FinishConfigurationInFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RepriceInFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SaveInstanceInFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VerifyInFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ConflictAutoResolve"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="UpdateConfiguration_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FinishConfigurationOutFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfData"
></xsd:element
><xsd:element
 ref="xsdLocal3:ListOfStatus"
></xsd:element
><xsd:element
 name="RepriceOutFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SaveInstanceOutFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VerifyOutFlag"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GetObjDefaultGroupItems_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal4:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GetObjDefaultGroupItems_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal4:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GetCfgObjectStructure_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal5:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GetCfgObjectStructure_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal5:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GetCfgObjectGroupItems_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal4:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GetCfgObjectGroupItems_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal4:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="EndConfiguration_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="SaveInstanceFlag"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="EndConfiguration_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal6:ListOfQuote"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="BeginConfiguration_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="RootId"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal7:ListOfProperties"
></xsd:element
><xsd:element
 name="ProductId"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfData"
></xsd:element
><xsd:element
 ref="xsdLocal8:ListOfLinkedItems"
></xsd:element
><xsd:element
 name="HeaderId"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal6:ListOfQuote"
></xsd:element
><xsd:element
 name="InitInstanceOperation"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="BeginConfiguration_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfData"
></xsd:element
><xsd:element
 name="RootId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RootIntegrationId"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal3:ListOfStatus"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 xmlns:xsdLocal8="http://siebel.com/OrderManagement/Configurator/CfgLinkedItems"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Configurator/CfgLinkedItems"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfLinkedItems"
 type="xsdLocal8:ListOfLinkedItems"
></xsd:element
><xsd:complexType
 name="ListOfLinkedItemsTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfLinkedItems"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal8:ListOfLinkedItems"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfLinkedItems"
><xsd:sequence
><xsd:element
 name="LinkedItems"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal8:LinkedItems"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="LinkedItems"
><xsd:sequence
><xsd:element
 name="LinkedItemValue"
 maxOccurs="unbounded"
 minOccurs="1"
 type="xsdLocal8:LinkedItemValue"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="LinkedItemValue"
><xsd:sequence
><xsd:element
 name="ValueType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StringValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NumberValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegerValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DateTimeValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BooleanValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Quote/Data"
 xmlns:xsdLocal6="http://siebel.com/OrderManagement/Quote/Data"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfQuote"
 type="xsdLocal6:ListOfQuote"
></xsd:element
><xsd:complexType
 name="ListOfQuoteTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfQuote"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal6:ListOfQuote"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfQuote"
><xsd:sequence
><xsd:element
 name="Quote"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:Quote"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Quote"
><xsd:sequence
><xsd:element
 name="TaxRate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TaxExemptNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TaxExempt"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TaxAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShippingStreetAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Revision"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RequestedShipDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="QuoteType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="QuoteSubType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="QuoteNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceListId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToStreetAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToPostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OpportunityId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NRCTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MRCTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Freight"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DueDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DiscountAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Discount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShippingCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillToAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Active"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToZip"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountContractedProductsOnlyFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FreightTerms"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CompoundProductNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CarrierPriority"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TaxExemptReason"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CarrierCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToContactWorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToContactLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToContactHomePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToContactFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToContactEmail"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToContactCellPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountShipToAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToStreetAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExchangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShippingState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ModId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Created"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShippingPostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryOrganizationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ConflictId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShippingCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountLoc"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Account"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalBillToStreetAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalBillToStreetAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalBillToState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalBillToPostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalBillToCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalBillToCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalBillToAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillToAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillToContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfQuoteItem"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal6:ListOfQuoteItem"
></xsd:element
><xsd:element
 name="BillingAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountLocation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingProfileId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingProfileName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceAccountNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Comments"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountZip"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactEmail"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactWorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfQuoteItem"
><xsd:sequence
><xsd:element
 name="QuoteItem"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:QuoteItem"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="QuoteItem"
><xsd:sequence
><xsd:element
 name="VolumeUpsellMessage"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VolumeUpsellItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VolumeDiscountItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VolumeDiscountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UsageAssetProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UnitofMeasure"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TaxAmt"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToPostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToContactWorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToContactHomePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToContactFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToContactEmail"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessShipToAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessShipToZip"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessShipToState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessShipToCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessShipToCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessShipToAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServicePricePercent"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServicePriceMethod"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SalesServiceFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RootQuoteItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RootAssetIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RequestedDeliveryDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductXAClassId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductStructureType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProdPromSourceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProdPromRuleId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProdPromInstanceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProdPromId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProdItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PricingAdjustmentAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PortItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToZip"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NetPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NRCCxTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MinPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MaxPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MRCCxTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LineNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ItemPriceListId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IsPromEligible"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="QuoteId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HeaderDiscountAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FreightAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ForcastableFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExtendedQuantityRequested"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExcludePricingFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExchangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EligibilityStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EligibilityReason"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Discount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrentPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CoveredProductNetPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CoveredProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CoveredAssetProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Cost"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactWorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactHomePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactEmail"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ClassId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CfgType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CfgStateCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AssetIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ActionCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShipToContactLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessShipToAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CoveredQuoteItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalShipToAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FreightTerms"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CarrierPriority"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CarrierCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ConflictId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ConfigurationModelId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProdPromName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ModId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductLineId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VolumeUpsellItem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VolumeDiscountItem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SequenceNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceListId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrePickCD"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PostPickCD"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentQuoteItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NeedRefreshBasePrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InclusiveEligibilityFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HasGenerics"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EffectiveTo"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EffectiveFrom"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Created"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RootBundleFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UnitPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SmartPartNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PricingComments"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrigListPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DiscountPercent"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DiscountAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DiscountSource"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RollupItemPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RollupAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Quantity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfQuoteItemXA"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal6:ListOfQuoteItemXA"
></xsd:element
><xsd:element
 name="BillingAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountLocation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingProfileId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingProfileName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingAccountZip"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactEmail"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingContactWorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DonatingServiceProvider"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndingPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LegacyAccountNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NumberPortabilityAgencyName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NumberToPort"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PIN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RequestedPortingDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServicePostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartingPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="QuoteItem"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:QuoteItem"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
><xsd:attribute
 name="operation"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfQuoteItemXA"
><xsd:sequence
><xsd:element
 name="QuoteItemXA"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:QuoteItemXA"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="QuoteItemXA"
><xsd:sequence
><xsd:element
 name="UnitofMeasure"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Sequence"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Required"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReadOnly"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Attribute"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LOVType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Hidden"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DataType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ActionCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="XAId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ModId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Created"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ConflictId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ObjectId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Validation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PropTypeCD"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
><xsd:attribute
 name="operation"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Configurator/WebChannelObjStructure"
 xmlns:xsdLocal5="http://siebel.com/OrderManagement/Configurator/WebChannelObjStructure"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfObject"
 type="xsdLocal5:ListOfObject"
></xsd:element
><xsd:complexType
 name="ListOfObjectTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfObject"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal5:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfObject"
><xsd:sequence
><xsd:element
 name="Object"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:Object"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Object"
><xsd:sequence
><xsd:element
 name="ParentClassId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ObjectType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Resource"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:Resource"
></xsd:element
><xsd:element
 name="Relationship"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:Relationship"
></xsd:element
><xsd:element
 name="ObjectDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:ObjectDecoration"
></xsd:element
><xsd:element
 name="LinkedItem"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:LinkedItem"
></xsd:element
><xsd:element
 name="Attribute"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:Attribute"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Resource"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ResourceDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:ResourceDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Relationship"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MinimumCardinality"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MaximumCardinality"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DefaultProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DefaultCardinality"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ClassName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ClassId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipDomain"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:RelationshipDomain"
></xsd:element
><xsd:element
 name="RelationshipDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:RelationshipDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ObjectDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="LinkedItem"
><xsd:sequence
><xsd:element
 name="VariableName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SortSpec"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SearchSpec"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NeedsExecution"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FieldName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Expression"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DefaultValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessObject"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessComponent"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Active"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LinkedItemDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:LinkedItemDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Attribute"
><xsd:sequence
><xsd:element
 name="ValidationSpec"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UnitOfMeasure"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Required"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReadOnly"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrigId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LocalType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InternalType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Hidden"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AttributeRejectedValue"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:AttributeRejectedValue"
></xsd:element
><xsd:element
 name="AttributeDomain"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:AttributeDomain"
></xsd:element
><xsd:element
 name="AttributeDefaultValue"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:AttributeDefaultValue"
></xsd:element
><xsd:element
 name="AttributeDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:AttributeDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ResourceDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelationshipDomain"
><xsd:sequence
><xsd:element
 name="OrigId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipDomainDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:RelationshipDomainDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelationshipDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="LinkedItemDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeRejectedValue"
><xsd:sequence
><xsd:element
 name="String"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Number"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Integer"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Date"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Boolean"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDomain"
><xsd:sequence
><xsd:element
 name="LocalValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InternalValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AttributeDomainDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:AttributeDomainDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDefaultValue"
><xsd:sequence
><xsd:element
 name="String"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Number"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Integer"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Date"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Boolean"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelationshipDomainDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDomainDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/OrderManagement/Configurator/WebChannelObjGroupItems"
 xmlns:xsdLocal4="http://siebel.com/OrderManagement/Configurator/WebChannelObjGroupItems"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfObject"
 type="xsdLocal4:ListOfObject"
></xsd:element
><xsd:complexType
 name="ListOfObjectTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfObject"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal4:ListOfObject"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfObject"
><xsd:sequence
><xsd:element
 name="Object"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:Object"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Object"
><xsd:sequence
><xsd:element
 name="ParentClassId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ObjectType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UIOption"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:UIOption"
></xsd:element
><xsd:element
 name="ObjectDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:ObjectDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="UIOption"
><xsd:sequence
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Sequence"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductTheme"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrigId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BaseTheme"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UIOptionDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:UIOptionDecoration"
></xsd:element
><xsd:element
 name="Responsibility"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:Responsibility"
></xsd:element
><xsd:element
 name="Group"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:Group"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ObjectDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="UIOptionDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Responsibility"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Group"
><xsd:sequence
><xsd:element
 name="Sequence"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GroupTheme"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GroupItem"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:GroupItem"
></xsd:element
><xsd:element
 name="GroupDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:GroupDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="GroupItem"
><xsd:sequence
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Sequence"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GroupItemTheme"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Resource"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:Resource"
></xsd:element
><xsd:element
 name="Relationship"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:Relationship"
></xsd:element
><xsd:element
 name="LinkedItem"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:LinkedItem"
></xsd:element
><xsd:element
 name="Attribute"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:Attribute"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="GroupDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Resource"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ResourceDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:ResourceDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Relationship"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MinimumCardinality"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MaximumCardinality"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DefaultProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DefaultCardinality"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ClassName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ClassId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipDomain"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:RelationshipDomain"
></xsd:element
><xsd:element
 name="RelationshipDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:RelationshipDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="LinkedItem"
><xsd:sequence
><xsd:element
 name="VariableName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SortSpec"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SearchSpec"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NeedsExecution"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FieldName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Expression"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DefaultValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessObject"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BusinessComponent"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Active"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LinkedItemDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:LinkedItemDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Attribute"
><xsd:sequence
><xsd:element
 name="ValidationSpec"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UnitOfMeasure"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Required"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReadOnly"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrigId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LocalType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InternalType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Hidden"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AttributeRejectedValue"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:AttributeRejectedValue"
></xsd:element
><xsd:element
 name="AttributeDomain"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:AttributeDomain"
></xsd:element
><xsd:element
 name="AttributeDefaultValue"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:AttributeDefaultValue"
></xsd:element
><xsd:element
 name="AttributeDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:AttributeDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ResourceDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelationshipDomain"
><xsd:sequence
><xsd:element
 name="OrigId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipDomainDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:RelationshipDomainDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelationshipDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="LinkedItemDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeRejectedValue"
><xsd:sequence
><xsd:element
 name="String"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Number"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Integer"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Date"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Boolean"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDomain"
><xsd:sequence
><xsd:element
 name="LocalValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InternalValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AttributeDomainDecoration"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:AttributeDomainDecoration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDefaultValue"
><xsd:sequence
><xsd:element
 name="String"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Number"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Integer"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DisplayValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Date"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Boolean"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelationshipDomainDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AttributeDomainDecoration"
><xsd:sequence
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="UpdateConfiguration_Input"
><part
 name="UpdateConfiguration_Input"
 element="tns:UpdateConfiguration_Input"
></part
></message
><message
 name="UpdateConfiguration_Output"
><part
 name="UpdateConfiguration_Output"
 element="tns:UpdateConfiguration_Output"
></part
></message
><message
 name="GetObjDefaultGroupItems_Input"
><part
 name="GetObjDefaultGroupItems_Input"
 element="tns:GetObjDefaultGroupItems_Input"
></part
></message
><message
 name="GetObjDefaultGroupItems_Output"
><part
 name="GetObjDefaultGroupItems_Output"
 element="tns:GetObjDefaultGroupItems_Output"
></part
></message
><message
 name="GetCfgObjectStructure_Input"
><part
 name="GetCfgObjectStructure_Input"
 element="tns:GetCfgObjectStructure_Input"
></part
></message
><message
 name="GetCfgObjectStructure_Output"
><part
 name="GetCfgObjectStructure_Output"
 element="tns:GetCfgObjectStructure_Output"
></part
></message
><message
 name="GetCfgObjectGroupItems_Input"
><part
 name="GetCfgObjectGroupItems_Input"
 element="tns:GetCfgObjectGroupItems_Input"
></part
></message
><message
 name="GetCfgObjectGroupItems_Output"
><part
 name="GetCfgObjectGroupItems_Output"
 element="tns:GetCfgObjectGroupItems_Output"
></part
></message
><message
 name="EndConfiguration_Input"
><part
 name="EndConfiguration_Input"
 element="tns:EndConfiguration_Input"
></part
></message
><message
 name="EndConfiguration_Output"
><part
 name="EndConfiguration_Output"
 element="tns:EndConfiguration_Output"
></part
></message
><message
 name="BeginConfiguration_Input"
><part
 name="BeginConfiguration_Input"
 element="tns:BeginConfiguration_Input"
></part
></message
><message
 name="BeginConfiguration_Output"
><part
 name="BeginConfiguration_Output"
 element="tns:BeginConfiguration_Output"
></part
></message
><portType
 name="UpdateConfigurationPort"
><operation
 name="UpdateConfiguration"
><input
 message="tns:UpdateConfiguration_Input"
></input
><output
 message="tns:UpdateConfiguration_Output"
></output
></operation
></portType
><portType
 name="CfgObjectBrokerPort"
><operation
 name="GetObjDefaultGroupItems"
><input
 message="tns:GetObjDefaultGroupItems_Input"
></input
><output
 message="tns:GetObjDefaultGroupItems_Output"
></output
></operation
><operation
 name="GetCfgObjectStructure"
><input
 message="tns:GetCfgObjectStructure_Input"
></input
><output
 message="tns:GetCfgObjectStructure_Output"
></output
></operation
><operation
 name="GetCfgObjectGroupItems"
><input
 message="tns:GetCfgObjectGroupItems_Input"
></input
><output
 message="tns:GetCfgObjectGroupItems_Output"
></output
></operation
></portType
><portType
 name="EndConfigurationPort"
><operation
 name="EndConfiguration"
><input
 message="tns:EndConfiguration_Input"
></input
><output
 message="tns:EndConfiguration_Output"
></output
></operation
></portType
><portType
 name="BeginConfigurationPort"
><operation
 name="BeginConfiguration"
><input
 message="tns:BeginConfiguration_Input"
></input
><output
 message="tns:BeginConfiguration_Output"
></output
></operation
></portType
><binding
 name="UpdateConfigurationPort"
 type="tns:UpdateConfigurationPort"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="UpdateConfiguration"
><soap:operation
 soapAction="document/http://siebel.com/OrderManagement/Configurator:UpdateConfiguration"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="CfgObjectBrokerPort"
 type="tns:CfgObjectBrokerPort"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="GetObjDefaultGroupItems"
><soap:operation
 soapAction="document/http://siebel.com/OrderManagement/Configurator:GetObjDefaultGroupItems"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="GetCfgObjectStructure"
><soap:operation
 soapAction="document/http://siebel.com/OrderManagement/Configurator:GetCfgObjectStructure"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
><operation
 name="GetCfgObjectGroupItems"
><soap:operation
 soapAction="document/http://siebel.com/OrderManagement/Configurator:GetCfgObjectGroupItems"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="EndConfigurationPort"
 type="tns:EndConfigurationPort"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="EndConfiguration"
><soap:operation
 soapAction="document/http://siebel.com/OrderManagement/Configurator:EndConfiguration"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="BeginConfigurationPort"
 type="tns:BeginConfigurationPort"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="BeginConfiguration"
><soap:operation
 soapAction="document/http://siebel.com/OrderManagement/Configurator:BeginConfiguration"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="ProductConfigurator"
><port
 binding="tns:UpdateConfigurationPort"
 name="UpdateConfigurationPort"
><soap:address
 location="http://&lt;webserver&gt;/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"
></soap:address
></port
><port
 binding="tns:CfgObjectBrokerPort"
 name="CfgObjectBrokerPort"
><soap:address
 location="http://&lt;webserver&gt;/eai_&lt;lang&gt;/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"
></soap:address
></port
><port
 binding="tns:EndConfigurationPort"
 name="EndConfigurationPort"
><soap:address
 location="http://localhost/eai_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
><port
 binding="tns:BeginConfigurationPort"
 name="BeginConfigurationPort"
><soap:address
 location="http://localhost/eai_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>